extends layout

block content
    .top.bar
    .second.bar
        .content
            a(href="http://davewalk.net") MADE BY DDW
    .third.bar
    .fourth.bar
        .content
            a(href="http://twitter.com/ddw17") @DDW17
    .fifth.bar
    .sixth.bar
        .content
            a(href="http://github.com/davewalk/YOWATER") GITHUB
    .seventh.bar
    .bottom.bar