extends layout

block content
    .top.bar
        .content
            | SEND A YO TO
    .second.bar
        .content
            | YOWATER
    .third.bar
        .content
            | WHEN YOU
    .fourth.bar
        .content
            | DRINK A GLASS
    .fifth.bar
        .content
            | THEN:
    .sixth.bar
        .content
            form(name="yo", action="/api/glasses", method="GET")
                input(type="text", name="q", placeholder="YOUR YO USERNAME")
                fieldset
                    .seventh.bar
                        .content
                            select(id="hours", name="hours")
                                option(value="24", selected="selected") LAST 24 HOURS
                                option(value="12") LAST 12 HOURS
                                option(value="8") LAST 8 HOURS
                                option(value="4") LAST 4 HOURS
                            input(type="submit", value="SUBMIT")
    .bottom.bar
        .content
            a(href="/about") (About)