doctype html
html
	head
		title YOWATER
		meta(name="HandheldFriendly", content="True")
		meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat:700')
		link(rel='stylesheet', href='/css/style.css')
	body
		block content
		include ga.jade